#game {
  position: relative;
  padding: 1rem;
}

#game-question {
  color: #56a5ea;
  padding: 0.25rem;
  margin-bottom: 1rem;
  cursor: default;
  min-height: 6.5rem;
  height: auto;
  width: 67rem;
  max-width: 100%;
}

input[type="radio"] {
  display: none;
}

.game-choices {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
  background-color: white;
  height: auto;
  width: 60rem;
  max-width: 100%;
  margin: 1rem 0.75rem;
  gap: 1rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.choices-prefix {
  height: 100%;
  background-color: #56a5eb;
  color: white;
  padding: 1rem 1.5rem;
  font-size: 12pt;
  overflow: hidden;
}

.choices-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: small;
}

input:checked + label .game-choices {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.submit-btn {
  color: #56a5ea;
  background-color: rgb(255, 255, 255, 1);
  border: 1px solid #56a5ea;
  border-radius: 0.25rem;
  margin: 0.25rem 0.75rem;
  padding: 0.25rem 0.75rem;
  font-size: 1.5rem;

  &:hover {
    background-color: rgb(255, 255, 255, 0.5);
  }
}

#score-card {
  display: flex;
  min-height: auto;
  min-width: fit-content;
  padding: 0.5rem 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 300ms ease-in-out;

  & h2 {
    color: #56a5ea;
    margin-bottom: 0;
  }
}
