:root {
  font-size: 62.5%;
  background-color: #ecf5ff;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  color: #56a5eb;
  margin-bottom: 4rem;
}

h2 {
  font-size: 4.25rem;
  margin-bottom: 3.25rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

a {
  display: block;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Utilities */
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-width: 80rem;
  margin: 0 auto;
}

#home {
  padding: 2.5rem;
}

.btn {
  width: 100%;
  min-height: 36px;
  max-width: 360px;
  border: 1px solid #56a5eb;
  margin: 0.5rem auto;
  font-size: 12pt;
  font-weight: 600;
  color: #56a5ef;
  background-color: #fff;
}

.place-center {
  display: grid;
  place-content: center;
}

#username {
  display: block;
  text-align: center;
  min-height: 36px;
  max-width: 360px;
  margin: 0.5rem auto;
  font-size: 12pt;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.5);

  &::placeholder {
    color: #aaa;
  }
}
