#game {
  padding: 2rem;
}

#game-question {
  color: #56a5ea;
  padding: 0.25rem;
  cursor: default;
  width: 100%;
}

input[type="radio"] {
  display: none;
}

.game-choices {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
  background-color: white;
  height: auto;
  width: 100%;
  max-width: 60rem;
  margin: 1rem auto;
  gap: 1rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.choices-prefix {
  height: 100%;
  background-color: #56a5eb;
  color: white;
  padding: 1rem 1.5rem;
  font-size: 12pt;
  overflow: hidden;
}

.choices-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: small;
}

input:checked + label .game-choices {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
